<div class="container " >

    <!-- Outer Row -->
    <div class="row justify-content-center">
        
        <div class="col-xl-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                  
                                    <h1 class="h1 text-info mb-4"><b>Inscrivez-vous</b></h1>
                                </div>
                                <div class="alert alert-danger" *ngIf="errorMsg">
                                    {{errorMsg}}
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp" name="fullname"
                                            placeholder="Enter votre nom et prénom " [(ngModel)]="registerRequest.fullname">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="Email"
                                            id="exampleInputEmail" placeholder="Entrer votre email" [(ngModel)]="registerRequest.email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="password"
                                            id="exampleInputPassword" placeholder="Entrer votre mot de passe" [(ngModel)]="registerRequest.password">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="adresse"
                                            id="exampleInputAdresse" placeholder="Entrer votre adresse" [(ngModel)]="registerRequest.adresse">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user" name="telephone"
                                            id="exampleInputTelephone" placeholder="Entrer votre téléphone" [(ngModel)]="registerRequest.telephone">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" class="form-control form-control-user" name="datenaissance"
                                            id="exampleInputDatenaissance" placeholder="datenaissance" [(ngModel)]="registerRequest.datenaissance">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="specialité"
                                            id="exampleInputSpecialite" placeholder="specialite" [(ngModel)]="registerRequest.specialite">
                                    </div>
                                    



                                    <div class="form-group">
                                     
                                    </div>
                                    <button  class="btn btn-info btn-user btn-block" (click)="register()">
                                      <i class="fas fa-check" ></i> Créer un compte
                                    </button>
                                    <hr>
                                   
                                </form>
                          
                                
                                <div class="text-center"> Avez vous déjà un compte ?
                                    <a class="small" [routerLink]="['/login']"> Se connecter </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

