<div class="container" id="main-container"  style="background-image: url('../assets/img/AdobeStock_4.jpeg');">

  <a class="btn btn-app bg-info" (click)="ajoutencadreur()">
    
    <i class="fas fa-plus"></i> Ajouter
  </a>
<h1 class="text-center"> <b>Liste des encadrants</b></h1>
  <table id="example1" class="table table-bordered table-striped">
        <thead>
<br> <br>
          <tr class="text-center" style="background-color:rgb(239, 250, 255)">
            <th scope="col">id</th>
            <th scope="col">Nom et Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Datenaissance </th>
            <th scope="col">Adresse</th>
            <th scope="col">Fonction</th>
            <th > </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let encad of encadreure " class="col-md-6 col-xl-5 text-center">
            <td>{{encad.id}}</td>
            <td>{{encad.fullname}}</td>
            <td>{{encad.telephone}}</td>
            <td>{{encad.email}}</td>
            <td>{{encad.datenaissance | date:"dd/MM/yyyy"}}</td>
            <td>{{encad.adresse}}</td>
            <td>{{encad.fonctionEncad}}</td>
            <td style="background-color:beige"> 
              <div class="btn-group btn-group-sm">
                <a (click)="encadreurDetails(encad.id)" class="btn btn-info"><i class="fas fa-eye"></i></a>
                <a (click)="Modifencadreur(encad.id)" class="btn btn-warning"><i style="color:white" class="fas fa-pencil-square-o"></i></a>
                <a (click)="EncadDelete(encad.id)" class="btn btn-danger"><i class="fas fa-trash"></i></a>
              </div></td>

          </tr>
        </tbody>
      </table>
    </div>
  
